body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav { min-height: 50px; }
footer { min-height: 50px; margin-top:auto; }


/* ------------------------------------------------- */
/* About pure-menu */
.pure-menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: blueviolet;
}

.pure-menu-link:hover {
    background: none;
}

.pure-menu-heading,
.pure-menu-list {
    align-self: center;
}

.pure-menu-list {
    padding: 10px;
}

.pure-menu-link {
    color: rgb(209, 179, 236);
}

.pure-menu-selected .pure-menu-link,
.pure-menu-heading {
    color: white;
}

.pure-menu-heading {
    font-size: 25px;
}


/* ------------------------------------------------- */
/* About footer */
footer {
    border-top: solid thin lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer span,
footer a {
    color: rgb(177, 158, 216);
    font-size: small;
}

