/* color theme from https://colorhunt.co/palette/174976 */

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav { min-height: 50px; }
footer { min-height: 50px; margin-top:auto; }


/* ------------------------------------------------- */
/* About font */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: Barlow, sans-serif;
}


/* ------------------------------------------------- */
/* About pure-menu */
.pure-menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #424874;
}

.pure-menu-link:hover {
    background: none;
}

.pure-menu-heading,
.pure-menu-list {
    align-self: center;
}

.pure-menu-list {
    padding: 10px;
}

.pure-menu-link {
    color: #a6b1e1;
}

.pure-menu-selected .pure-menu-link,
.pure-menu-heading {
    color: white;
}

.pure-menu-heading {
    font-size: 25px;
}


/* ------------------------------------------------- */
/* About footer */
footer {
    border-top: solid thin lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer span,
footer a {
    color: #424874;
    font-size: small;
}


/* ------------------------------------------------- */
/* About main */
main {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    background-color: #dcd6f7;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-block {
    box-sizing: border-box;
    padding: 15px;
}

.img {
    max-width: 100%;
    max-height: 100%;
}
